body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stack {
    position: relative;
    width: 600px;
    height: 400px;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    position: absolute;
    left: -1px;
    top: -50px;
    width: 110px;
    height: 50px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: oblique;
}

