body {
    font-family: monospace;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: oblique;
    font-weight: bold;
}

.back {
    font-size: larger;
    font-weight: 100;
}

.header {
    position: absolute;
    top: 50px;
    right: 110px;
}

.content {
    max-width: 900px;
    width: 90%;
    margin: 0 auto; 
    margin-top: 200px;
}
